<div class="group-header">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h2><%= @market_keyword.name %></h2>
        <small class="text-muted">
          父级关键词：<%= @market_keyword.parent.try(:name) %>
        </small>
      </div>
    </div>
  </div>
</div>


