<footer id='footer'>
  <div class='footer-wrapper'>
    <div class='row'>
      <div class='col-sm-6 text'>
        瑞信云.网络营销系统 © 2013 版权所有
      </div>
      <div class='col-sm-6 buttons'>
        <a class="btn btn-link" href="http://www.rxy123.com/">瑞信云官网</a>
        <a class="btn btn-link" href="http://www.rxy123.com/contact">获取帮助</a>
      </div>
    </div>
  </div>
</footer>