<div class='navigation'>
  <div class='search'>
    <form action='search_results.html' method='get'>
      <div class='search-wrapper'>
        <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
        <button class='btn btn-link icon-search' name='button' type='submit'></button>
      </div>
    </form>
  </div>
  <ul class='nav nav-stacked'>
    <li class='active'>
      <a href="<%= market_site_path(@market_site) %>">
        <i class='icon-dashboard'></i>
        <span>控制面板</span>
      </a>
    </li>
    <li class=''>
      <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
      <span>关键词营销</span>
      <i class='icon-angle-down angle-down'></i>
      </a>

      <ul class='nav nav-stacked'>
        <li class=''>
          <a href='<%= new_market_keyword_path %>'>
            <i class='icon-caret-right'></i>
            <span>采集关键词</span>
          </a>
        </li>
        <li class=''>
          <a href='<%= market_keywords_path %>'>
            <i class='icon-caret-right'></i>
            <span>查询关键词</span>
          </a>
        </li>
       
      </ul>
    </li>

    <li class=''>
      <a href='<%= market_todo_items_path %>'>
        <i class='icon-star'></i>
        <span>任务列表</span>
      </a>
    </li>
  </ul>
</div>