<%= render partial: 'layouts/market/market_title', locals: {
  page_title: '每日网站任务', 
  page_menu: {
    '添加任务' => new_market_todo_item_path,
    '返回' => '/market/todo_items'}
  } 
%>

<div class='row'> 
  <div class='col-sm-12'>
    <div class='box'>
      <div class='row todo-list'>
        <div class='col-sm-12'>
          <div class='box'>
            <div class='box-content box-no-padding'>
              <div class='sortable-container'>
                <div class='date text-contrast'>近期任务</div>
                <ul id="todo_items" class='list-unstyled sortable' data-update-url="<%= sort_market_todo_items_url %>">
                  <%= render @market_todo_items %>
                </ul>
                <div class='date text-contrast'>往期任务</div>
                咯咯咯
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- / START - page related files and scripts [optional] -->
<script>
  
  $(".todo-list .actions .important").live("click", function(e) {
    $(this).parents("li").toggleClass("important");
    e.stopPropagation();
    e.preventDefault();
    return false;
  });
  
  $(".todo-list .check").live("click", function() {
    var checkbox;
    checkbox = $(this).find("input[type='checkbox']");
    if (checkbox.is(":checked")) {
      return $(this).parents("li").addClass("done");
    } else {
      return $(this).parents("li").removeClass("done");
    }
  });
</script>
<!-- / END - page related files and scripts [optional] -->