<%= render partial: 'layouts/market/market_title', locals: {
  page_title: '每日网站任务', 
  page_menu: {
    '添加任务' => new_market_todo_item_path,
    '返回' => '/market/todo_items'}
  } 
%>

<div class='row'> 
  <ul id="todo_items" data-update-url="<%= sort_market_todo_items_url %>">
    <%= render @market_todo_items %>
  </ul>
</div>
