<p><%= link_to "添加任务", new_market_todo_item_path, id: 'add_market_todo_item', class: "btn btn-primary" %></p>
<hr/>

<ul id="todo_items" data-update-url="<%= sort_market_todo_items_url %>">
  <%= render @market_todo_items %>
</ul>

