<%%= simple_form_for(@<%= singular_table_name %>, html: {class: 'form'}) do |f| %>
  <%%= f.error_notification %>

  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>

  <div class="btn btn-primary btn-lg">
    <i class="icon-save"></i>
    <%%= f.button :submit %>
  </div>
<%% end %>
